///////////////////// IMPORTS /////////////////////
@import "help"
@import "variables"
@import "clases"

body
	padding-top 70px


.item-servicio

	.left
		text-align center
		.icon.en-cola
			color danger
		.icon.reparado
			color success
		.icon.en-revision
			color warning

.item-servicio.en-cola
	a
		border-color danger
.item-servicio.en-revision
	a
		border-color warning
.item-servicio.reparado
	a
		border-color success




@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}
	


@media only screen and (min-width: 1140px) {

}
	
