////////  ICONOS COLORES  //////
color-1 = #5BC0DE  // azul
color-2 = #E0134F  // fuxia
color-3 = #EE7836  // naranja

danger  = #d9534f  //rojo
success = #5cb85c  // verde
warning = #f0ad4e  // naranja
info    = #5BC0DE  // azul claro


/////// FONT SIZES //////////
size-1 = 12px
size-2 = 14px
size-3 = 18px
size-4 = 24px
size-5 = 30px
size-6 = 36px
size-7 = 42px

