<div id="modal-update"  class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				
				<h4 class="modal-title" id="myModalLabel">Actualización</h4>
			</div>

			<div class="modal-body">				
				<div class="row">
					<div class="col-xs-4 logo" style="text-align:center;" >
						<i class="fa fa-cog fa-spin" style="font-size:6em; color:green;" ></i>
						<h5>procesando...</h5>

					</div>
					<div class="col-xs-8 content">
						<h4>Actualizando la aplicación</h4>
						<p>Espere un momento por favor...</p>
					</div>
				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-success ok-btn"  data-loading-text="Actualizando..." >OK</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->