{% extends 'main/shell.html' %}
{% load main_tags %}
{% load crispy_forms_tags %}

{% block title %} Home {% endblock %}

{% block js_head %}
<script>
	var urlGuardarServicio     = '{% url "guardar_servicio" %}';
	var urlGuardarPersona      = '{% url "guardar_persona" %}';
	var urlGuardarTipoServicio = '{% url "guardar_tipo_servicio" %}';
	var urlGuardarMarca        = '{% url "guardar_marca" %}';
	var urlGuardarComponente   = '{% url "guardar_componente" %}';
</script>
{% endblock js_head %}


{% block sidebar_left %}

<div class="panel panel-default">

	<div class="panel-heading">SERVICIOS</div>


	<div class="list-group nav-servicios">

		<a href="{% url 'home' %}" class="list-group-item {% active request "^/$" %}">
			<span class="badge">{{num_total}}</span> 
			<i class="fa fa-calendar fw"></i> Vista General
		</a>

		<a href="{% url 'home' SERVICIO.EN_COLA %}" class="list-group-item {% active request "^/en-cola/" %}">
			<span class="badge">{{num_cola}}</span>
			<i class="fa fa-clock-o fw"></i>  En Espera
		</a>

		<a href="{% url 'home' SERVICIO.EN_REVISION %}" class="list-group-item {% active request "^/en-revision/" %}">
			<span class="badge">{{num_revision}}</span>
			<i class="fa fa-wrench fw"></i> En Revisión
		</a>

		<a href="{% url 'home' SERVICIO.REPARADO %}" class="list-group-item {% active request "^/reparado/" %}">
			<span class="badge">{{num_reparado}}</span>
			<i class="fa fa-check fw"></i> Reparados
		</a>

		<a href="{% url 'home' SERVICIO.ENTREGADO %}" class="list-group-item {% active request "^/entregado/" %}">
			<span class="badge">{{num_entregado}}</span>
			<i class="fa fa-smile-o fw"></i> Entregados
		</a>	

	</div>

</div> <!-- end panel -->



{% endblock sidebar_left %}




{% block header %}
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">
		{% if estado == SERVICIO.EN_COLA %}
			<i class="fa fa-clock-o fw"></i>  Servicios en Espera  
		{% elif estado == SERVICIO.EN_REVISION%}
			<i class="fa fa-wrench fw"></i>  Servicios en Revición
		{% elif estado == SERVICIO.REPARADO %}
			<i class="fa fa-check fw"></i>  Servicios Reparados
		{% else %}
			<i class="fa fa-calendar fw"></i>  Actividad Reciente
		{% endif %}
		</a></li>
	</ul> <!-- end navbar-header -->

	<form role="form" class="navbar-form navbar-right" >
		<button id="servicio-btn" class="btn btn-primary" >
		 	<i class="fa fa-wrench"></i> Nuevo Servicio
		</button>
	</form> 

		
{% endblock header %}





{% block content %}


{% for servicio in servicios %}

	<div class="list-group item-servicio {{servicio.estado}}"> 
		
		<a href="{% url 'servicio' servicio.id %}" class="list-group-item">
			<div class="row">
				<div class="col-lg-2 left">		
					<i class="fa fa-{{servicio.tipo.icon}} fa-5x icon {{servicio.estado}}"></i><br/>
					<span>{{servicio.tipo.nombre}}<span/>				
				</div>	

				<div class="col-lg-10 right">
					<span class="badge pull-right">No. {{servicio.id}}</span>
					<h4>{{servicio.tipo.nombre}} {{servicio.marca}} de {{servicio.cliente.nombre}}</h4>
					<h5>Ingresó hace {{servicio.created|timesince}}</h5>	
					<span class="label {{servicio.estado|labelizar}}">{{servicio.estado}} </span>		
				</div>
			</div> 
		</a>
	</div>  <!-- end list -->


{% empty %}
<h3>No hay servicios disponibles todavía</h3>
{% endfor %}



<!--################# FORMULARIOS ##################-->
<!-- form servicio -->
<div id="modal-form-servicio"  class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Ingresar Servicio</h4>
			</div>

			<div class="modal-body">				
				{% crispy servicioForm %}   			  
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" id="guardar-servicio-btn" class="btn btn-primary" data-loading-text="Guardando...">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- form persona -->
<div id="modal-form-persona"  class="modal fade" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Ingresar Persona</h4>
			</div>

			<div class="modal-body">				
				{% crispy personaForm %}   			  
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" id="guardar-persona-btn" class="btn btn-primary" data-loading-text="Guardando...">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- form tipo-servicio -->
<div id="modal-form-tipo-servicio"  class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Ingresar Tipo de Servicio</h4>
			</div>

			<div class="modal-body">	
						
				{% crispy tipoServicioForm %}			  
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" id="guardar-tipo-servicio-btn" class="btn btn-primary" data-loading-text="Guardando...">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- form marca -->
<div id="modal-form-marca"  class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Ingresar una Marca</h4>
			</div>

			<div class="modal-body">				
				{% crispy marcaForm %}	  
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" id="guardar-marca-btn" class="btn btn-primary" data-loading-text="Guardando...">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- form componente -->
<div id="modal-form-componente"  class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Ingresar componente</h4>
			</div>

			<div class="modal-body">				
				{% crispy componenteForm %}	  
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" id="guardar-componente-btn" class="btn btn-primary" data-loading-text="Guardando...">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock content %}





