{% extends 'main/shell.html' %}


{% block title %} Home {% endblock %}

{% block js_head %}

	{% if user.is_authenticated %}
	<script>
		var urlGuardarServicio          = '{% url "guardar_servicio" %}';
		var urlGuardarServicioTecnico   = '{% url "guardar_servicio_tecnico" %}';
		var urlGuardarServicioEstado    = '{% url "guardar_servicio_estado" %}';
		var urlGuardarPersona           = '{% url "guardar_persona" %}';
		var urlGuardarTipoServicio      = '{% url "guardar_tipo_servicio" %}';
		var urlGuardarMarca             = '{% url "guardar_marca" %}';
		var urlGuardarComponente        = '{% url "guardar_componente" %}';
	</script>
	{% endif %}

{% endblock js_head %}


{% block sidebar_left %}
	{% include 'main/widgets/nav_servicios.html' %}
{% endblock sidebar_left %}




{% block header %}
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">
		{% if estado == SERVICIO.EN_COLA %}
			<i class="fa fa-clock-o fw"></i>  Servicios en Espera  
		{% elif estado == SERVICIO.EN_REVISION%}
			<i class="fa fa-wrench fw"></i>  Servicios en Revición
		{% elif estado == SERVICIO.REPARADO %}
			<i class="fa fa-check fw"></i>  Servicios Reparados
		{% else %}
			<i class="fa fa-calendar fw"></i>  Actividad Reciente
		{% endif %}
		</a></li>
	</ul> <!-- end navbar-header -->


	{% if user.is_authenticated %}

	<form role="form" class="navbar-form navbar-right" >
		<button id="servicio-btn" class="btn btn-primary" >
		 	<i class="fa fa-plus-square"></i>
		</button>
	</form> 
	{% endif %}
		
{% endblock header %}





{% block content %}


{% for servicio in servicios %}

	{% include "main/widgets/itemServicio.html" %}


{% empty %}
<h3>No hay servicios disponibles todavía</h3>
{% endfor %}



<!--################# FORMULARIOS ##################-->
{% if user.is_authenticated %}

<!-- form servicio -->
{% include 'main/forms/formServicio.html' %}
<!-- form persona -->
{% include 'main/forms/formPersona.html' %}
<!-- form tipo-servicio -->
{% include 'main/forms/formTipoServicio.html' %}
<!-- form marca -->
{% include 'main/forms/formMarca.html' %}
<!-- form componente -->
{% include 'main/forms/formComponente.html' %}

{% endif %}

{% endblock content %}





