{% extends 'main/shell.html' %}
{% load main_tags %}
{% load crispy_forms_tags %}

{% block title %} Servicio {{servicio.id}} {% endblock %}

{% block js_head %}

	{% if user.is_authenticated %}
	<script>
		var urlGuardarServicio          = '{% url "guardar_servicio" %}';
		var urlGuardarServicioTecnico   = '{% url "guardar_servicio_tecnico" %}';
		var urlGuardarServicioEstado    = '{% url "guardar_servicio_estado" %}';
		var urlGuardarPersona           = '{% url "guardar_persona" %}';
		var urlGuardarTipoServicio      = '{% url "guardar_tipo_servicio" %}';
		var urlGuardarMarca             = '{% url "guardar_marca" %}';
		var urlGuardarComponente        = '{% url "guardar_componente" %}';
	</script>
	{% endif %}

{% endblock js_head %}


{% block sidebar_left %}
	{% include 'main/widgets/nav_servicios.html' %}
{% endblock sidebar_left %}

{% block header %}
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Servicio Detallado</a></li>
	</ul>

	<form id="search-form" class="navbar-form navbar-left dropdown" role="search">    
		<div class="form-group" style="width:200px;">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
		    	<input  type="text" class="form-control search-query dropdown-toggle" data-toggle="dropdown" placeholder="Buscar servicio"> 
		    </div>
	    </div>
	</form>



	{% if user.is_authenticated %}

	<form role="form" class="navbar-form navbar-right" >
		<button id="print-servicio-btn" class="btn" >
			<i class="fa fa-print fa-fw"></i>
		</button>
		<button id="delete-servicio-btn" class="btn btn-danger" disabled="disabled">
		 	<i class="fa fa-trash-o"></i> <!-- <span class="glyphicon glyphicon-edit"></span> -->
		</button>
		<button id="edit-servicio-btn" class="btn btn-primary" >
		 	<i class="fa fa-pencil-square-o"></i>  <!-- <span class="glyphicon glyphicon-edit"></span>  -->
		</button>
	</form> 

	{% endif %}

{% endblock header %}




{% block content %}

<div id="msg-success" class="alert alert-success hidden">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	El estado de este servicio se actualizó correctamente
</div>

<div id="servicio">

	

	<div class="row">
		
		<div id="logo-servicio" class="col-md-2 logo">			
			<i class="fa fa-{{servicio.tipo.icon}} icon icon-servicio {{servicio.estado}}"></i><br/>
		</div>
		
		<div class="col-md-10">
			
			<h1>
				<span class="label label-primary pull-right">No. {{servicio.id}}</span>
				{{servicio.tipo.nombre}} {{servicio.marca.nombre}} 

			</h1>
			<span id="estado-label" class="label estado {{servicio.estado|labelizar}} ">{{servicio.estado}} </span> 
			&nbsp;{{servicio.entregado|date:"D d M f a"}} <br/><br/>


			<div id="conten-estado"  class="btn-group">
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.EN_COLA}}" id="{{servicio.EN_COLA}}"
			    		title="en cola"> 
			    	<i class="fa fa-clock-o fw"></i> 
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.EN_REVISION}}" id="{{servicio.EN_REVISION}}" title="en revisión">
			    	<i class="fa fa-wrench"></i>
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.REPARADO}}" id="{{servicio.REPARADO}}" title="reparado" >
			    	<i class="fa fa-check"></i>
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.ENTREGADO}}" id="{{servicio.ENTREGADO}}" title="entregado">
			    	<i class="fa fa-smile-o"></i>
			    </button>			    
			</div>

			<input id="servicio-id" type="hidden" value="{{servicio.id}}">
			{% csrf_token %}


			
		</div>

	</div> <!-- end row -->


	{% include "main/widgets/progressServicio.html" %}

	<div class="row">
		
		<div class="col-md-8">

			<table class="table table-striped">
				<tbody>	
					<tr>
						<td>Marca: </td>
						<td>{{servicio.marca.nombre}}</td>
					</tr>
					{% if servicio.modelo %}
					<tr>
						<td>Modelo: </td>
						<td>{{servicio.modelo}}</td>
					</tr>
					{% endif %}

					{% if servicio.serial %}
					<tr>
						<td>Serial: </td>
						<td>{{servicio.serial}}</td>
					</tr>
					{% endif %}

				</tbody>
				
			</table><br/>


			<h3>
				<i class="fa fa-file-text-o"></i>
				&nbsp; Motivo de Mantenimiento
			</h3>

			<div class="panel panel-default">
				<div class="panel-body">{{servicio.motivo}}</div>
			</div> 
			
			<br/>
			<h3>
				<i class="fa fa-puzzle-piece"></i>
				&nbsp; Componentes
			</h3>

			<div class="row componentes">

			{% for componente in componentes %}
				<div class="col-md-4 center">
			    	<!-- <div class="well well-sm"> -->
			    	<div class="list-group">
			    		<a href="#" class="list-group-item">
					        <i class="fa fa-4x fa-{{componente.icon}}"></i>
					    	<h6>{{componente.nombre|upper}}</h6>
				    	</a>
				   </div>
				</div>
			{% empty %}
				No hay componentes
			{% endfor %}

			</div> <!-- end row componentes  -->
		</div> 


		<div class="col-md-4">

			<div class="panel panel-default servicio-person">

				<div class="panel-heading">CLIENTE</div>
				<div class="panel-body">
					
					<i class="fa fa-user icon-person"></i>
	
					<a href="{% url 'persona' servicio.cliente.id %}" class="btn btn-info btn-block btn-lg" role="button">				 		 
						{{servicio.cliente.full_name}}
					</a>		
				</div>
			</div>

			
				
			{% if servicio.tecnico %}

				<div id="panel-tecnico-exist" class="panel panel-default servicio-person">
					<div class="panel-heading">
						TÉCNICO   
						<button type="button" class="btn btn-default btn-xs pull-right hidden editar"><i class="fa fa-pencil-square-o"></i></button>  
					</div>
					<div class="panel-body">
						
						<i class="fa fa-user icon-person"></i>
		
						<a href="{{servicio.tecnico.get_absolute_url}}" class="btn btn-info btn-block btn-lg" role="button">				 		 
							{{servicio.tecnico.get_full_name}}
						</a>		
					</div>
				</div>

			{% endif %}

				<div id="panel-tecnico-form" class="panel panel-warning servicio-person">
					<div class="panel-heading">
						ASIGNAR TÉCNICO
						
						<button type="button" class="btn btn-warning btn-xs pull-right {% if not servicio.tecnico %}hidden {% endif %} cerrar" >
							<i class="fa fa-times"></i>
						</button> 
						
					</div>
					<div class="panel-body">
						{% if user.is_authenticated %}
						{% crispy servicioTecnicoForm %}
						{% endif %}
					</div>		
				</div>

				<script type="text/template" class="panel-tecnico-exist-tpl">
					<div id="panel-tecnico-exist" class="panel panel-default servicio-person">
						<div class="panel-heading">
							TÉCNICO   
							<button type="button" class="btn btn-default btn-xs pull-right hidden editar"><i class="fa fa-pencil-square-o"></i></button>  
						</div>
						<div class="panel-body">
							
							<i class="fa fa-user icon-person"></i>
			
							<a href="<%= url_tecnico %>" class="btn btn-info btn-block btn-lg" role="button">				 		 
								<%= tecnico %>
							</a>		
						</div>
					</div>
				</script>

				
			

			
		</div>

	</div> <!-- end row -->

</div> <!-- end #servicio -->


	<!--################# FORMULARIOS ##################-->
	{% if user.is_authenticated %}

		<!-- form servicio -->
		{% include 'main/forms/formServicio.html' %}
		<!-- form persona -->
		{% include 'main/forms/formPersona.html' %}
		<!-- form tipo-servicio -->
		{% include 'main/forms/formTipoServicio.html' %}
		<!-- form marca -->
		{% include 'main/forms/formMarca.html' %}
		<!-- form componente -->
		{% include 'main/forms/formComponente.html' %}



		<!--################# FACTURA ##################-->
		{% include 'main/print/facturaServicio.html' %}

	{% endif %}

	{% include 'main/tpl/itemServicioTpl.html' %}

{% endblock content %}


{% block js_body %} 
	<script src="{{STATIC_URL}}main/js/servicios.js"></script>	
	
	<script>
		var $panelTecnicoForm    = $('#panel-tecnico-form'),
			$cerrarFormBtn       = $panelTecnicoForm.find('.cerrar'),
			$panelTecnicoExist   = $('#panel-tecnico-exist'),
			panelTecnicoExistTpl = _.template( $('.panel-tecnico-exist-tpl').html() );

		
		if ($panelTecnicoExist.length) { 
			$panelTecnicoForm.hide();
			setEvents();
		}

		function setEvents() {
			$('#panel-tecnico-exist').hover(alHoverIn, alHoverOut);
		}   
		
			function alHoverIn(){
				$(this).find('.editar').removeClass('hidden').addClass('show');
				$('#panel-tecnico-exist .editar').one('click', editarTecnico);
			}

			function alHoverOut(){
				$(this).find('.editar').removeClass('show').addClass('hidden');
			}


		

		function editarTecnico() {
			$('#panel-tecnico-exist').slideUp();
			$panelTecnicoForm.slideDown(); 
			$cerrarFormBtn.removeClass('hidden');
			$cerrarFormBtn.one('click', cerrarPanelTecnicoForm); 
		}

		function cerrarPanelTecnicoForm() {
			$panelTecnicoForm.slideUp();
			$('#panel-tecnico-exist').slideDown();
		}

		/////////////////  AJAX //////////////////

		setActionsFormServicioTecnico();

		function setActionsFormServicioTecnico() {
            $panelTecnicoForm.find('#id_tecnico').select2();
            $panelTecnicoForm.find('#guardar-servicio-tecnico-btn').on('click', guardarServicioTecnico);
        }

        function guardarServicioTecnico() {
        	var $btn =  $(event.target).button('loading');
        	var value = $panelTecnicoForm.find('#id_tecnico').val();

        	if ( value == null || value.length == 0 || /^\s+$/.test(value) ) {
        		$panelTecnicoForm.find('.form-group').addClass('has-error');
        		return;
        	}
        	
        	var data = $('#form-servicio-tecnico').serialize();
        	post = $.post(urlGuardarServicioTecnico, data );

        	 post.always(function(data){
        	 	$('#panel-tecnico-exist').remove();
	        	$panelTecnicoForm.after( panelTecnicoExistTpl(data) );
	        	$panelTecnicoForm.slideUp();
	        	$btn.button('reset');
	        	setEvents();
	        });
        }

	       





	</script>



{% endblock %}
