{% extends 'main/shell.html' %}

{% block title %} Servicios {% endblock %}



{% block content %}

<div class="well">
	<h1>Mantenimientos Compuclínica</h1>
</div>


{% for servicio in servicios %}

	<div class="list-group item-servicio {% if servicio.estado == servicio.EN_COLA %} en-cola {% elif servicio.estado == servicio.EN_REVISION %} en-revision  {% elif servicio.estado == servicio.REPARADO %} reparado  {% endif%}"> 
		
		<a href="#" class="list-group-item">
			<div class="row">
				<div class="col-lg-2 left">		
					<i class="fa fa-{{servicio.tipo.icon}} fa-5x icon {% if servicio.estado == servicio.EN_COLA %} en-cola {% elif servicio.estado == servicio.EN_REVISION %} en-revision  {% elif servicio.estado == servicio.REPARADO %} reparado  {% endif%}"></i><br/>
					<span>{{servicio.tipo.nombre}}<span/>				
				</div>	

				<div class="col-lg-10 right">
					<span class="badge pull-right">{{servicio.id}}</span>
					<h4>{{servicio.tipo.nombre}} {{servicio.marca}} de {{servicio.cliente.nombre}}</h4>
					<h5>Hace {{servicio.created|timesince}}</h5>	
					<span class="label {% if servicio.estado == servicio.EN_COLA %} label-danger {% elif servicio.estado == servicio.EN_REVISION %} label-warning  {% elif servicio.estado == servicio.REPARADO %} label-success  {% endif%}">{{servicio.estado}} </span>		
				</div>
			</div> 
		</a>
	</div>  <!-- end panel -->


{% empty %}
<h3>No hay servicios creados todavía</h3>
{% endfor %}


{% endblock content %}