{% extends 'main/home.html' %}
{% load main_tags %}
{% load crispy_forms_tags %}

{% block title %} Servicio {{servicio.id}} {% endblock %}


{% block header %}
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Servicio Detallado</a></li>
		<li class="cargando"><a href="#"><i class="fa fa-spinner fa-spin"></i></a></li>
	</ul>



	{% if user.is_authenticated %}

	<form role="form" class="navbar-form navbar-right" >
		<button id="print-servicio-btn" class="btn" disabled="disabled">
			<i class="fa fa-print fa-fw"></i>
		</button>
		<button id="delete-servicio-btn" class="btn btn-danger" disabled="disabled">
		 	<i class="fa fa-trash-o"></i> <!-- <span class="glyphicon glyphicon-edit"></span> -->
		</button>
		<button id="edit-servicio-btn" class="btn btn-primary" >
		 	<i class="fa fa-pencil-square-o"></i> <!-- <span class="glyphicon glyphicon-edit"></span> -->
		</button>
	</form> 

	{% endif %}

{% endblock header %}




{% block content %}

<div id="msg-success" class="alert alert-success hidden">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	El estado de este servicio se actualizó correctamente
</div>

<div id="servicio">

	

	<div class="row">
		
		<div id="logo-servicio" class="col-md-2 logo">			
			<i class="fa fa-{{servicio.tipo.icon}} icon icon-servicio {{servicio.estado}}"></i><br/>
		</div>
		
		<div class="col-md-10">
			
			<h1>
				<span class="label label-primary pull-right">No. {{servicio.id}}</span>
				{{servicio.tipo.nombre}} {{servicio.marca.nombre}} 

			</h1>
			<span id="estado-label" class="label estado {{servicio.estado|labelizar}} ">{{servicio.estado}} </span> <br/><br/>

			<div id="conten-estado"  class="btn-group">
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.EN_COLA}}" id="{{servicio.EN_COLA}}"
			    		title="en cola"> 
			    	<i class="fa fa-clock-o fw"></i> 
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.EN_REVISION}}" id="{{servicio.EN_REVISION}}" title="en revisión">
			    	<i class="fa fa-wrench"></i>
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.REPARADO}}" id="{{servicio.REPARADO}}" title="reparado" >
			    	<i class="fa fa-check"></i>
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.ENTREGADO}}" id="{{servicio.ENTREGADO}}" title="entregado">
			    	<i class="fa fa-smile-o"></i>
			    </button>			    
			</div>

			<input id="servicio-id" type="hidden" value="{{servicio.id}}">
			{% csrf_token %}



		</div>

	</div> <!-- end row -->


	{% include "main/widgets/progressServicio.html" %}

	<div class="row">
		
		<div class="col-md-8">

			<table class="table table-striped">
				<tbody>	
					<tr>
						<td>Marca: </td>
						<td>{{servicio.marca.nombre}}</td>
					</tr>
					{% if servicio.modelo %}
					<tr>
						<td>Modelo: </td>
						<td>{{servicio.modelo}}</td>
					</tr>
					{% endif %}

					{% if servicio.serial %}
					<tr>
						<td>Serial: </td>
						<td>{{servicio.serial}}</td>
					</tr>
					{% endif %}

				</tbody>
				
			</table><br/>


			<h3>
				<i class="fa fa-file-text-o"></i>
				&nbsp; Motivo de Mantenimiento
			</h3>

			<div class="panel panel-default">
				<div class="panel-body">{{servicio.motivo}}</div>
			</div> 
			
			<br/>
			<h3>
				<i class="fa fa-puzzle-piece"></i>
				&nbsp; Componentes
			</h3>

			<div class="row componentes">

			{% for componente in componentes %}
				<div class="col-md-4 center">
			    	<!-- <div class="well well-sm"> -->
			    	<div class="list-group">
			    		<a href="#" class="list-group-item">
					        <i class="fa fa-4x fa-{{componente.icon}}"></i>
					    	<h6>{{componente.nombre|upper}}</h6>
				    	</a>
				   </div>
				</div>
			{% empty %}
				No hay componentes
			{% endfor %}

			</div> <!-- end row componentes  -->
		</div> 


		<div class="col-md-4">

			<div class="panel panel-default servicio-person">

				<div class="panel-heading">CLIENTE</div>
				<div class="panel-body">
					
					<i class="fa fa-user icon-person"></i>
	
					<a href="{% url 'persona' servicio.cliente.id %}" class="btn btn-info btn-block btn-lg" role="button">				 		 
						{{servicio.cliente.full_name}}
					</a>		
				</div>
			</div>

			
				
				{% if servicio.tecnico %}
				<div class="panel panel-default servicio-person">
					<div class="panel-heading">TÉCNICO</div>
					<div class="panel-body">
						
						<i class="fa fa-user icon-person"></i>
		
						<a href="{% url 'persona' servicio.tecnico.id %}" class="btn btn-info btn-block btn-lg" role="button">				 		 
							{{servicio.tecnico.full_name}}
						</a>		
					</div>
				</div>
				{% else %}
				<div id="panel-tecnico" class="panel panel-danger servicio-person">
					<div class="panel-heading">TÉCNICO NO ASIGNADO</div>
					<div class="panel-body">
						{% if user.is_authenticated %}
						{% crispy servicioTecnicoForm %}
						{% endif %}
					</div>		
				</div>
				

				{% endif %}
			

			
		</div>

	</div> <!-- end row -->

</div> <!-- end #servicio -->


<!--################# FORMULARIOS ##################-->
{% if user.is_authenticated %}

<!-- form servicio -->
{% include 'main/forms/formServicio.html' %}
<!-- form persona -->
{% include 'main/forms/formPersona.html' %}
<!-- form tipo-servicio -->
{% include 'main/forms/formTipoServicio.html' %}
<!-- form marca -->
{% include 'main/forms/formMarca.html' %}
<!-- form componente -->
{% include 'main/forms/formComponente.html' %}

{% endif %}


{% endblock content %}