{% extends 'main/home.html' %}
{% load main_tags %}
{% load crispy_forms_tags %}

{% block title %} Servicio {{servicio.id}} {% endblock %}


{% block header %}
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Servicio Detallado</a></li>
		<li class="cargando"><a href="#"><i class="fa fa-spinner fa-spin"></i></a></li>
	</ul>



	{% if user.is_authenticated %}

	<form role="form" class="navbar-form navbar-right" >
		<button id="print-servicio-btn" class="btn" >
			<i class="fa fa-print fa-fw"></i>
		</button>
		<button id="delete-servicio-btn" class="btn btn-danger" disabled="disabled">
		 	<i class="fa fa-trash-o"></i> <!-- <span class="glyphicon glyphicon-edit"></span> -->
		</button>
		<button id="edit-servicio-btn" class="btn btn-primary" >
		 	<i class="fa fa-pencil-square-o"></i>  <!-- <span class="glyphicon glyphicon-edit"></span>  -->
		</button>
	</form> 

	{% endif %}

{% endblock header %}




{% block content %}

<div id="msg-success" class="alert alert-success hidden">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	El estado de este servicio se actualizó correctamente
</div>

<div id="servicio">

	

	<div class="row">
		
		<div id="logo-servicio" class="col-md-2 logo">			
			<i class="fa fa-{{servicio.tipo.icon}} icon icon-servicio {{servicio.estado}}"></i><br/>
		</div>
		
		<div class="col-md-10">
			
			<h1>
				<span class="label label-primary pull-right">No. {{servicio.id}}</span>
				{{servicio.tipo.nombre}} {{servicio.marca.nombre}} 

			</h1>
			<span id="estado-label" class="label estado {{servicio.estado|labelizar}} ">{{servicio.estado}} </span> <br/><br/>

			<div id="conten-estado"  class="btn-group">
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.EN_COLA}}" id="{{servicio.EN_COLA}}"
			    		title="en cola"> 
			    	<i class="fa fa-clock-o fw"></i> 
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.EN_REVISION}}" id="{{servicio.EN_REVISION}}" title="en revisión">
			    	<i class="fa fa-wrench"></i>
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.REPARADO}}" id="{{servicio.REPARADO}}" title="reparado" >
			    	<i class="fa fa-check"></i>
			    </button>
			    <button type="button" class="estado-btn btn {{servicio.estado|estado_btn:servicio.ENTREGADO}}" id="{{servicio.ENTREGADO}}" title="entregado">
			    	<i class="fa fa-smile-o"></i>
			    </button>			    
			</div>

			<input id="servicio-id" type="hidden" value="{{servicio.id}}">
			{% csrf_token %}



		</div>

	</div> <!-- end row -->


	{% include "main/widgets/progressServicio.html" %}

	<div class="row">
		
		<div class="col-md-8">

			<table class="table table-striped">
				<tbody>	
					<tr>
						<td>Marca: </td>
						<td>{{servicio.marca.nombre}}</td>
					</tr>
					{% if servicio.modelo %}
					<tr>
						<td>Modelo: </td>
						<td>{{servicio.modelo}}</td>
					</tr>
					{% endif %}

					{% if servicio.serial %}
					<tr>
						<td>Serial: </td>
						<td>{{servicio.serial}}</td>
					</tr>
					{% endif %}

				</tbody>
				
			</table><br/>


			<h3>
				<i class="fa fa-file-text-o"></i>
				&nbsp; Motivo de Mantenimiento
			</h3>

			<div class="panel panel-default">
				<div class="panel-body">{{servicio.motivo}}</div>
			</div> 
			
			<br/>
			<h3>
				<i class="fa fa-puzzle-piece"></i>
				&nbsp; Componentes
			</h3>

			<div class="row componentes">

			{% for componente in componentes %}
				<div class="col-md-4 center">
			    	<!-- <div class="well well-sm"> -->
			    	<div class="list-group">
			    		<a href="#" class="list-group-item">
					        <i class="fa fa-4x fa-{{componente.icon}}"></i>
					    	<h6>{{componente.nombre|upper}}</h6>
				    	</a>
				   </div>
				</div>
			{% empty %}
				No hay componentes
			{% endfor %}

			</div> <!-- end row componentes  -->
		</div> 


		<div class="col-md-4">

			<div class="panel panel-default servicio-person">

				<div class="panel-heading">CLIENTE</div>
				<div class="panel-body">
					
					<i class="fa fa-user icon-person"></i>
	
					<a href="{% url 'persona' servicio.cliente.id %}" class="btn btn-info btn-block btn-lg" role="button">				 		 
						{{servicio.cliente.full_name}}
					</a>		
				</div>
			</div>

			
				
				{% if servicio.tecnico %}
				<div class="panel panel-default servicio-person">
					<div class="panel-heading">TÉCNICO</div>
					<div class="panel-body">
						
						<i class="fa fa-user icon-person"></i>
		
						<a href="{% url 'persona' servicio.tecnico.id %}" class="btn btn-info btn-block btn-lg" role="button">				 		 
							{{servicio.tecnico.get_full_name}}
						</a>		
					</div>
				</div>
				{% else %}
				<div id="panel-tecnico" class="panel panel-danger servicio-person">
					<div class="panel-heading">TÉCNICO NO ASIGNADO</div>
					<div class="panel-body">
						{% if user.is_authenticated %}
						{% crispy servicioTecnicoForm %}
						{% endif %}
					</div>		
				</div>
				

				{% endif %}
			

			
		</div>

	</div> <!-- end row -->

</div> <!-- end #servicio -->


<!--################# FORMULARIOS ##################-->
{% if user.is_authenticated %}

<!-- form servicio -->
{% include 'main/forms/formServicio.html' %}
<!-- form persona -->
{% include 'main/forms/formPersona.html' %}
<!-- form tipo-servicio -->
{% include 'main/forms/formTipoServicio.html' %}
<!-- form marca -->
{% include 'main/forms/formMarca.html' %}
<!-- form componente -->
{% include 'main/forms/formComponente.html' %}

{% endif %}

<!--################# FACTURA ##################-->

<div id="factura-servicio">

	<link rel="stylesheet" media="print" href="{{STATIC_URL}}main/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" media="print" href="{{STATIC_URL}}main/font-awesome/css/font-awesome.min.css">
    <style>
    	@media print {

    		h3 { margin-top: 0; }
    		h4 { margin-top: 2px;}
    		.header {margin-bottom: 10px;}
    		.logo { text-align: center;}
    		.logo i { font-size: 40px;}
    		.relleno-cliente { height: 7px;}
    		.relleno-servicio { height: 11px;}
    		.componente { text-align: center; padding: 10px 0;}
    		.componente i { font-size: 20px;}
    		.componente span { font-size: 9px;}
    		.motivo {margin-bottom: 20px;}
    		textarea { resize: none; }
    		.motivo .textarea-title { font-weight: bold;}
    		.nota {font-size: 9px; margin-bottom: 40px;}
    		.footer div, .footer span { font-size: 10px; color: red !important;}

			@page {		
				margin: 0.5cm;
				size: 14cm 21.5cm;
			}
    	}
    </style>



	<div class="factura-content container">

		<div class="row header">
			<div class="col-xs-5">
				<img src="{{STATIC_URL}}main/compuclinica.png" alt="" width="140" height="60" > 
			</div>
			<div class="col-xs-7">
				<h3>
					<span class="label label-default pull-right">No. {{servicio.id}}</span>
				</h3>
				<div class="clearfix"></div>
				<h6 class="pull-right">{{servicio.created}}</h6>
				<div class="clearfix"></div>
			</div>
		</div>   <!-- end .row   -->

		<div class="row">

			<div class="col-xs-4 logo ">
				<div class="well well-sm">
					<i class="fa fa-user"></i> <br/>
					CLIENTE <br/>
					CC. {{servicio.cliente.cedula}}		
				</div>	
			</div>

			<div class="col-xs-8">
				<div class="well well-sm">
					<h4> {{servicio.cliente.full_name}} </h4>
					<i class="fa fa-phone"></i> &nbsp; {{servicio.cliente.telefono}} <br/>
					<i class="fa fa-map-marker"></i> &nbsp; {{servicio.cliente.direccion}}
					<div class="relleno-cliente"></div>
				</div>
			</div>
			
		</div>  <!-- end .row   -->

		<div class="row">
			<div class="col-xs-4 logo">
				<div class="well well-sm">
					<i class="fa fa-{{servicio.tipo.icon}}"></i> <br/>
					SERVICIO
					<div class="relleno-servicio"></div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="well well-sm">
					<h4>{{servicio.tipo.nombre}} {{servicio.marca.nombre}}</h4>
					{% if servicio.modelo %}
					Modelo: &nbsp;&nbsp; {{servicio.modelo}} <br/>
					{% else %}
					Modelo: &nbsp;&nbsp; ausente <br/>
					{% endif %}
					{% if servicio.serial %}
					Serial: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{servicio.serial}} 
					{% else %}
					Serial: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ausente
					{% endif %}
				</div>
			</div>
			
		</div>  <!-- end .row   -->

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading"><strong> Elementos y/o Accesorios</strong></div>
					
					<div class="row">
					{% for comp in componentes %}
						<div class="col-xs-2 componente">
							<i class="fa fa-{{comp.icon}}"></i> <br/>
							<span> {{comp.nombre}} </span>
						</div>
					{% empty %}
						<div class="col-xs-2 componente">
							<i class="fa fa-frown-o"></i> <br/>
							<span>Nada</span>
						</div>
					{% endfor %}
					</div>
					
				</div>
			</div>

		</div> <!-- end .row   -->

		<div class="row motivo">
			<div class="col-xs-3">
				<textarea  rows="2" class="form-control textarea-title">Motivo de Servicio</textarea>
			</div>
			<div class="col-xs-9">
				<textarea  rows="2" class="form-control">{{servicio.motivo}}</textarea>
			</div>
		</div>  <!-- end .row   -->
		
		<div class="row">
			<div class="col-xs-12">
				<div class="well well-sm">
					<strong>Recibido por:</strong>  {{servicio.empleado}}
				</div>
			</div>
		</div> <!-- end .row   -->
		
		<div class="nota">
			Todas las refacciones sustituidas cuentan con 90 días de garantía a partir de la fecha de entrega. - No nos hacemos responsables por la pérdida de información. - Para poder hacer válida la garantía es necesario presentar copia de la factura o remisión emitida. - Después de 30 días de no recoger el equipo, no nos hacemos responsables, Cables y cartuchos no tienen grarantía.
			<h5><strong> Acepto las condiciones </strong> <small> ____________________________ </small> </h5>
		</div>


		<div class="row footer">
			<div class="col-xs-6">
				<i class="fa fa-map-marker"></i>
				&nbsp; Zarzal - Valle - Carrera 11 # 8-20
			</div>
			<div class="col-xs-3">
				<i class="fa fa-phone"></i>
				&nbsp; 220 97 15
			</div>
			<div class="col-xs-3">
				<span class="pull-right">
					<i class="fa fa-mobile"></i>
					&nbsp; 311 257 3851
				</span>
			</div>
		</div>

		
	</div>  <!-- end .container   -->
</div>   <!-- end #factura-servicio  -->


{% endblock content %}
