<div id="factura-servicio" class="visible-print">

	<div class="factura-content container">

		<!-- encabezado   -->

		<div class="row header">
			<div class="col-xs-4">
				<img src="{{STATIC_URL}}main/compuclinica.png" alt="" width="140" height="60" > 
			</div>

			<div class="col-xs-4">
				{% if servicio.estado == servicio.REPARADO or servicio.estado == servicio.ENTREGADO  %}
					<span class="label">Factura</span>
				{% else %}
					<span class="label">Recibo</span>
				{% endif %}	
			</div>
			<div class="col-xs-4">
				<h3>
					<span class="label label-default pull-right">No. {{servicio.id}}</span>
				</h3>
				<div class="clearfix"></div>
				<h6 class="pull-right">{{servicio.created}}</h6>
				<div class="clearfix"></div>
			</div>
		</div>   <!-- end row header  -->


		<!-- primera fila   -->

		<div class="row">

			<div class="col-xs-7">
				<div class="well well-sm ficha-2">

					<div class="row">

						<div class="col-xs-3 logo">
							<i class="fa fa-user fa-3x"></i> <br/>
							<span>cliente</span>
						</div>
						<div class="col-xs-9">
							<h4 class="clearfix" >{{servicio.cliente.full_name}}</h4>
							<h6 class="">cc. {{servicio.cliente.cedula}}</h6>
							<i class="fa fa-phone"></i> &nbsp; {{servicio.cliente.telefono}} <br/>
							<i class="fa fa-map-marker"></i> &nbsp; {{servicio.cliente.direccion}}
						</div>

					</div>

				</div>
			</div>

			<div class="col-xs-5">
				<div class="well well-sm ficha-2">
					<div class="row">
						<div class="col-xs-3 logo">
							<i class="fa fa-{{servicio.tipo.icon}} fa-3x"></i> <br/>
							<span>servicio</span>
						</div>
						<div class="col-xs-9">
							<h4>{{servicio.tipo.nombre}} {{servicio.marca.nombre}}</h4>
							{% if servicio.modelo %}
							Mod: &nbsp;&nbsp; {{servicio.modelo}} <br/>
							{% else %}
							Mod: &nbsp;&nbsp; ausente <br/>
							{% endif %}
							{% if servicio.serial %}
							S/N: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{servicio.serial}} 
							{% else %}
							S/N: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ausente
							{% endif %}

						</div>
					</div>


				</div>
			</div>

		</div>
		<!-- end primera fila   -->

		<!-- segunda fila   -->

		<div class="row">

			<div class="col-xs-5">
				<div class="well well-sm ficha-3">
					
					<div class="row">
						<div class="col-xs-2 caja-1">
							<i class="fa fa-stethoscope fa-lg"></i> <br/>
							<h6 class="motivo">motivo</h6>
						</div>
						<div class="col-xs-10"></span> {{servicio.motivo}}</div>
					</div>
					
				</div>
			</div>

			<div class="col-xs-7">
				<div class="well well-sm ficha-3">
					<div class="row">
						{% for comp in componentes %}
							<div class="col-xs-2 caja-1">
								<i class="fa fa-{{comp.icon}} fa-lg"></i> <br/>
								<h6> {{comp.nombre}} </h6>
							</div>
						{% empty %}
							<div class="col-xs-2 caja-1">
								<i class="fa fa-frown-o fa-lg"></i> <br/>
								<h6>Nada</h6>
							</div>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div> <!-- end segunda fila   -->

		<div class="row">
			
			<div class="col-xs-6">
				<div class="well well-sm">
					<strong>Recibido por:</strong>  {{servicio.empleado}}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="well well-sm">
					{% if servicio.estado == servicio.REPARADO or servicio.estado == servicio.ENTREGADO  %}
						<strong>Técnico:</strong>  {{servicio.tecnico}}
					{% else %}
						<strong>Fecha de entrega:</strong>  {{servicio.plazo}}
					{% endif %}	
				</div>
			</div>
						
		</div> <!-- end .row   -->

		<div class="row">
			
		</div>

		<h6 class="nota">
			Todas las refacciones sustituidas cuentan con 90 días de garantía a partir de la fecha de entrega. - No nos hacemos responsables por la pérdida de información. - Para poder hacer válida la garantía es necesario presentar copia de la factura o remisión emitida. - Después de 30 días de no recoger el equipo, no nos hacemos responsables, Cables y cartuchos no tienen grarantía.
		</h6>


		<div class="row footer">
			<div class="col-xs-6">
				<h6>
					<i class="fa fa-map-marker"></i>
					&nbsp; Zarzal - Valle - Carrera 11 # 8-20
				</h6>
			</div>
			<div class="col-xs-3">
				<h6>
					<i class="fa fa-phone"></i>
					&nbsp; 220 97 15
				</h6>
			</div>
			<div class="col-xs-3">
				<h6 class="pull-right">
					<i class="fa fa-mobile"></i>
					&nbsp; 311 257 3851
				</h6>
			</div>
		</div>

		

		
	</div>  <!-- end .container   -->
</div>   <!-- end #factura-servicio  -->