<div id="factura-servicio" class="hidden">

	<link rel="stylesheet" media="print" href="{{STATIC_URL}}main/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" media="print" href="{{STATIC_URL}}main/font-awesome/css/font-awesome.min.css">
    <style>
    	@media print {

    		h3 { margin-top: 0; }
    		h4 { margin-top: 2px;}
    		.header {margin-bottom: 10px;}
    		.logo { text-align: center;}
    		.logo i { font-size: 40px;}
    		.relleno-cliente { height: 7px;}
    		.relleno-servicio { height: 11px;}
    		.componente { text-align: center; padding: 10px 0;}
    		.componente i { font-size: 20px;}
    		.componente span { font-size: 9px;}
    		.motivo {margin-bottom: 20px;}
    		textarea { resize: none; }
    		.motivo .textarea-title { font-weight: bold;}
    		.nota {font-size: 9px; margin-bottom: 40px;}
    		.footer div, .footer span { font-size: 10px; color: red !important;}

			@page {		
				margin: 0.5cm;
				size: 14cm 21.5cm;
			}
    	}
    </style>



	<div class="factura-content container">

		<div class="row header">
			<div class="col-xs-5">
				<img src="{{STATIC_URL}}main/compuclinica.png" alt="" width="140" height="60" > 
			</div>
			<div class="col-xs-7">
				<h3>
					<span class="label label-default pull-right">No. {{servicio.id}}</span>
				</h3>
				<div class="clearfix"></div>
				<h6 class="pull-right">{{servicio.created}}</h6>
				<div class="clearfix"></div>
			</div>
		</div>   <!-- end .row   -->

		<div class="row">

			<div class="col-xs-4 logo ">
				<div class="well well-sm">
					<i class="fa fa-user"></i> <br/>
					CLIENTE <br/>
					CC. {{servicio.cliente.cedula}}		
				</div>	
			</div>

			<div class="col-xs-8">
				<div class="well well-sm">
					<h4> {{servicio.cliente.full_name}} </h4>
					<i class="fa fa-phone"></i> &nbsp; {{servicio.cliente.telefono}} <br/>
					<i class="fa fa-map-marker"></i> &nbsp; {{servicio.cliente.direccion}}
					<div class="relleno-cliente"></div>
				</div>
			</div>
			
		</div>  <!-- end .row   -->

		<div class="row">
			<div class="col-xs-4 logo">
				<div class="well well-sm">
					<i class="fa fa-{{servicio.tipo.icon}}"></i> <br/>
					SERVICIO
					<div class="relleno-servicio"></div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="well well-sm">
					<h4>{{servicio.tipo.nombre}} {{servicio.marca.nombre}}</h4>
					{% if servicio.modelo %}
					Modelo: &nbsp;&nbsp; {{servicio.modelo}} <br/>
					{% else %}
					Modelo: &nbsp;&nbsp; ausente <br/>
					{% endif %}
					{% if servicio.serial %}
					Serial: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{servicio.serial}} 
					{% else %}
					Serial: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ausente
					{% endif %}
				</div>
			</div>
			
		</div>  <!-- end .row   -->

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading"><strong> Elementos y/o Accesorios</strong></div>
					
					<div class="row">
					{% for comp in componentes %}
						<div class="col-xs-2 componente">
							<i class="fa fa-{{comp.icon}}"></i> <br/>
							<span> {{comp.nombre}} </span>
						</div>
					{% empty %}
						<div class="col-xs-2 componente">
							<i class="fa fa-frown-o"></i> <br/>
							<span>Nada</span>
						</div>
					{% endfor %}
					</div>
					
				</div>
			</div>

		</div> <!-- end .row   -->

		<div class="row motivo">
			<div class="col-xs-3">
				<textarea  rows="2" class="form-control textarea-title">Motivo de Servicio</textarea>
			</div>
			<div class="col-xs-9">
				<textarea  rows="2" class="form-control">{{servicio.motivo}}</textarea>
			</div>
		</div>  <!-- end .row   -->
		
		<div class="row">
			<div class="col-xs-12">
				<div class="well well-sm">
					<strong>Recibido por:</strong>  {{servicio.empleado}}
				</div>
			</div>
		</div> <!-- end .row   -->
		
		<div class="nota">
			Todas las refacciones sustituidas cuentan con 90 días de garantía a partir de la fecha de entrega. - No nos hacemos responsables por la pérdida de información. - Para poder hacer válida la garantía es necesario presentar copia de la factura o remisión emitida. - Después de 30 días de no recoger el equipo, no nos hacemos responsables, Cables y cartuchos no tienen grarantía.
			<h5><strong> Acepto las condiciones </strong> <small> ____________________________ </small> </h5>
		</div>


		<div class="row footer">
			<div class="col-xs-6">
				<i class="fa fa-map-marker"></i>
				&nbsp; Zarzal - Valle - Carrera 11 # 8-20
			</div>
			<div class="col-xs-3">
				<i class="fa fa-phone"></i>
				&nbsp; 220 97 15
			</div>
			<div class="col-xs-3">
				<span class="pull-right">
					<i class="fa fa-mobile"></i>
					&nbsp; 311 257 3851
				</span>
			</div>
		</div>

		
	</div>  <!-- end .container   -->
</div>   <!-- end #factura-servicio  -->